body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

img.logo {
    content:url('http://images.huffingtonpost.com/2016-02-25-1456380693-5476335-20th_Logo_Primary_cmyk930x676.jpg');
    width: 100px;
    border: 1px solid #1a6ecc;
}

.floating-dial-buttons {
    position: fixed;
    bottom: -40px;
    float: right;
    height: 300px;
    right: 10px;
    background-color:transparent;
}