@{
    Layout = "~/Views/Shared/_Layout-material.cshtml";
    ViewBag.Title = "Catch a Pokemon";
}

<form>
    <div ng-controller="hfController" class="md-padding" ng-cloak layout="column">
        <md-card>
            <md-card-title>
                <md-card-title-text>
                    <span class="md-headline">Catch a  Pokemon</span>
                    @*<span class="md-subhead">Tell us a little about you.</span>*@
                </md-card-title-text>
            </md-card-title>
            <md-card-content>
                <div layout="column" layout-align="space-between left">
                    <md-input-container>
                        <label for="Number">Number</label>
                        <input flex="80" id="Number" name="Number" type="number" ng-model="editingPokemon.Number" />
                    </md-input-container>

                    <md-input-container flex="80">
                        <label>Image</label>
                        <div>
                            <img ng-src="{{editingPokemon.imageUrl}}" />
                        </div>
                    </md-input-container>

                    <md-input-container>
                        <label for="Name">Name</label>
                        <input flex="80" id="Name" name="Name" type="text" ng-model="editingPokemon.Name" />
                    </md-input-container>

                    <md-input-container>
                        <label for="Description">Description</label>
                        <textarea flex="80" name="Description" id="Description" ng-model="editingPokemon.Description" rows="3"></textarea>
                    </md-input-container>

                    <md-input-container>
                        <label for="Type">Type</label>
                        <md-select flex="80" name="Type" id="Type" ng-model="editingPokemon.Type">
                            <md-option ng-repeat="pType in pokemonTypes" value="{{pType.Key}}">
                                {{pType.Value}}
                            </md-option>
                        </md-select>
                    </md-input-container>

                </div>
            </md-card-content>
            <md-card-actions>
                <md-button class="md-raised md-primary" ng-click="submit()">Catch!</md-button>
            </md-card-actions>
        </md-card>
    </div>
</form>