@{
    ViewBag.Title = "Home Page";
}

<div class="row" ng-controller="hfController">
    <div class="col-sm-6 col-md-4" ng-repeat="poke in catchedPokemons">
        <div class="thumbnail">
            <img ng-src="{{getImageUrl(poke.Number)}}" alt="{{poke.Name}}">
            <div class="caption">
                <h3>{{poke.Name}}</h3>
                <p>{{poke.Description}}</p>
                @*<p><a href="#" class="btn btn-primary" role="button">Button</a> <a href="#" class="btn btn-default" role="button">Button</a></p>*@
            </div>
        </div>
    </div>

</div>

