@{
    Layout = "~/Views/Shared/_Layout-material.cshtml";
    ViewBag.Title = "Home Page";
}

<h2>Your catched Pokemon</h2>

<div ng-controller="hfController as demo" ng-cloak="">
    <div class='md-padding' layout-sm="column" layout="row" layout-wrap>
        <md-card flex="40" flex-sm="80" md-theme="dark-blue" md-theme-watch="" ng-repeat="poke in catchedPokemons">
            <md-card-title>
                <md-card-title-text>
                    <span class="md-headline">{{poke.Name}}</span>
                    <span class="md-subhead">{{poke.Description}}</span>
                </md-card-title-text>
                <md-card-title-media>
                    <div class="md-media-sm card-media"><img ng-src="{{getImageUrl(poke.Number)}}" alt="{{poke.Name}}"></div>
                </md-card-title-media>
            </md-card-title>
            <md-card-actions layout="row" layout-align="end center">
                <md-button ng-click="update(poke.Id)">Edit data</md-button>
                <md-button ng-click="delete(poke.Id)">Release</md-button>
            </md-card-actions>
        </md-card>
    </div>
</div>
